.rojo{
    background-color: red;
    width: 25%;
    height: 300px;
    color: yellow;
    font-size: 25px;
    margin: 5px;
}
#negro{
    background-color: black;
    color: white;
    font-size: 25px;
    width: 25%;
    height: 300px;
    margin: 5px;
}
#principal{
    display: flex;
    justify-content: center;
}